.contactsArrange {
  margin-left: 650px;
  width: 100%;
  height: 100%;
  top: 339px;
  position: absolute;
}

.contactTable {
  border: 1px solid;
  text-align: center;
  width: 50%;
}
.contactHead {
  background: #5096FF;
  color: white;
}

.contactRow {
	border: 1px solid;
}

.aContact {
  width: 250px;
  height: 30px; 
  font-size: 15px;
  padding: 1% 2%;
  margin: 1%;
}

.addContactHead {
  margin-left: 2%;
}

.contactList {
  margin-left: 2%;
}