.mui-container-fluid {
  margin-top: 20px;

}

.filterBox {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.filter-label {
  padding-right: 5px;
  font-weight: bold;
};
.panel-container {
  display: flex;
  align-content: flex-start;
  align-items: center;
  padding-left: 2em;
  padding-top: 1.5em;
}

.dashboard-panel {
  text-align: center;
  .panel-body{
  font-weight:bolder;
  font-size: 1.5em;
  }
}
