.search {
    margin-top: 100px; 
    margin-left: 10%;
    width: 100%;
    height: 100%;
}

.input1 {
    padding: 1.5% 10%;
    border-radius: 4px 0 0 4px;
    position: relative;
    font-size: 16px;
}

.input2 {
    padding: 1.5% 5%;
    border-radius: 4px 0 0 4px;
    position: relative;
    font-size: 16px;	
}

.homeSubmit {
    background-color: #42A5F5; 
    border: none;
    color: white;
    padding: 1.5% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.page {
  width: 60px;
  height: 30px;
  background-color: #5096FF;
  color: white;
  text-align: center;
  font-size: 12px;
  margin:2px;
}

.page:active {
   box-shadow: inset 0 0 1.094em #472566, inset 0 .063em #390668, inset 0 -0.188em #682CA0, 0 .063em rgba(255,255,255,.4); 
}

.page:hover {
   background-color: #8A58B7;
   box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255, 255,.4), inset 0 -0.188em #804FAD;
}
