.search {
    margin-top: 250px; 
}

.input1 {
    padding: 1.5% 10%;
    border-radius: 4px 0 0 4px;
    position: relative;

	
}

.input2 {
    padding: 1.5% 5%;
    border-radius: 4px 0 0 4px;
    position: relative;
	
}

.submit {
	background-color: #42A5F5; 
    border: none;
    color: white;
    padding: 1.5% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}