.contactTable {
	margin-left: 25%;
	margin-top: -10%;
	text-align: center;
}
.contactHead {
	background: teal;
}

.contactRow {
	font-family: Georgia;
	border: 1px solid;
	background: floralwhite;
}

.addContact {
	border: 1px solid
}

.aContact {
	width: 200px;
}

.aSubmit {
	align: center;
}